.main{
    background: #fff;
    /* height: 530px; */
    /* height: 600px;  */
    background: rgba(0,0,0,0.03);
    padding: 20px 0;
}
.main-content{ 
    max-width: 1200px;
    /* background: rgb(56, 36, 36); */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    height: 100%;
}

.main-text{
    /* background: red;  */
    margin-top: 9em;
    /* text-align: center; */
}
.main-title{
    font-size: 6em;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    /* background: #eee; */
    /* margin: auto 0;  */
}
.main-title .red-text{
    color: #e31702;
    /* margin: 0 10px 0 0; */
}
.title.sub{
    margin: 0 10px;
    display: inline-block;
}
.title.last{
    margin: 0 0px 0 0;
    display: inline-block;
}
.btn.btn-light{
    display: block;
    font-size: 1.3em; 
    font-weight: 700;
    padding: 15px; 
    cursor: pointer; 
    border-radius: 25px;
    background: #d1d5db;
    /* color: #e31702; */
    color: #9c0808;
    font-family: 'Roboto', sans-serif;
    margin: 30px 0;
    position: relative;
    width: fit-content;
    transition: all .25s ease-in-out;
    text-decoration: none;
}

.btn.btn-light::after{
    content: '>>';
    position: absolute;
    left: 150px;
    top: 5px;
    height: 100%;
    width: 100%;
    font-size: 2em;
    opacity: 0;
    transform: translateX(-100px);transition: all .25s cubic-bezier(.72,1.59,0,1.15);
}


.btn.btn-light:hover{
    padding-right: 100px;
    /* background: #e31702;
    color:  #DDDFE2; */
}
.btn.btn-light:hover::after{
    opacity: 1;
    transform: translateX(0px);
    /* transform: rotate(-90deg); */
}
.main-img{
    height: 500px;
    width: 500px; 
    margin: 3em 2em 0 0;
    /* background: #000; */
    /* transform: translateZ(100px); */
    /* background: rgb(238, 233, 233); */
}

.main-img img{
    width: 475px;
    height: 525px; 
    /* box-shadow: 0 0 10px #000; */
    /* background: rgba(0,0,0,0.03); */
    transform: scale(1.1);
}


@media(max-width: 768px){
    .main-content
{
    flex-direction: column;

}
.main-text{  
    text-align: center;
    /* background: red; */
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 4em;
}
.main-img{
    margin: 4em auto 0 auto;
}

.main-img.active{
    display: none;
   }
}