.book {
  background: red;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  /* background: red; */
}
.book .container {
  display: flex;
  margin: 8em auto;
  /* background: red; */
}
.book-content {
  width: 50%;
  /* background: white; */
  margin: 0 20px;
}
.book-content h2 {
  font-size: 4em;
  margin: 0.5em 0 0 1em;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}
.book-content p {
  font-size: 1.3em;
  margin: 3em auto 0 auto;
  line-height: 2;
  width: 400px;
  font-weight: 600;
}

.book-img {
  width: 50%;
  height: 575px;
}
.book-img img {
  max-width: 100%;
  max-height: 100%;
  /* min-width: 300px;
    min-height: 200px; */
}

.book-content.wrk h2 {
  font-size: 2.5em;
  margin: 4em 0 0 0em;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}


@media (max-width: 576px) {
  .book .container {
    flex-direction: column;
  }
  .book-content h2{
    margin: 0em 0 0 1.5em;
    margin: 0;
  }
  
.book-content.wrk h2 {
  font-size: 2em;
  margin: 0em 0 0 0em;
}
  .book-content p {
    margin: 0.5em 0 0 0.2em;
    margin: 0;
    width: 95vw
  }
  .book-img {
    width: 100%;
    height: auto;
margin: 0 auto;}

.book-img img {
    width: 90vw;
}
.book-content h2 { 
    margin: 0;}
}

.ap {
  background: #f05108;
  /* background: #f05108; */
}
.app {
  width: 1200px;
  height: 800px;
  display: block;
  margin: 0 auto;
}
.app img {
  width: 100%;
  height: 100%;
}

.app-content {
    max-width: 100%;
  width: 1200px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.app-content h1 {
  /* display: block; */
  /* margin: 2em auto; */
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 4em;
  width: fit-content;
  color: #fff;
}
.app-content .btn {
  background: #fff;
}
@media(max-width:1100px){
    .app {
        display: none; 
      }
      
.app-content h1 {
  /* display: inline-block; */
    margin: 0 50px;
    /* background: #000; */
    width: fit-content;
}
}

@media(max-width:800px){
  .book .container {
    flex-direction: column;
  }
  .book-content h2{
    margin: 0em 0 0 1.5em;
    margin: 0;
  }
  
.book-content.wrk h2 {
  font-size: 2em;
  margin: 0em 0 0 0em;
}
  .book-content p {
    margin: 0.5em 0 0 0.2em;
    margin: 0;
    width: 95vw
  }
  .book-img {
    width: 100%;
    height: auto;
margin: 0 auto;}

.book-img img {
    width: 90vw;
}
.book-content h2 { 
    margin: 0;}
}